$color_1: #fff;
$color_2: #CECECE;
$color_3: #724220;
$color_4: #9F734E;
$color_5: #585858;
$color_6: #B68359;
$color_7: #b68359;
$color_8: #000;
$color_9: #ccc;
$color_10: #ffffff;
$color_11: #f0f8ff;
$font-family_1: 'Josefin Sans', sans-serif;
$background-color_1: #000000;
$background-color_2: #9F734E;
$background-color_3: #fff;
$background-color_4: #000;
$background-color_5: rgba(255, 70, 41, 0.8);
$background-color_6: transparent;
$background-color_7: #CECECE;

/* About */
/* .skill-box-inner-single:hover {
    background-color: #9F734E;
    transform: scale(1.03);
    overflow: unset;
} */
/* Progress Skills */
/* Firefox */
/* footer */
/* footer */
/* loader */
@keyframes spin {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
@keyframes loadhtml {
	0% {
		width: 0;
	}
	100% {
		width: 95%;
	}
}
@keyframes loadcss {
	0% {
		width: 0;
	}
	100% {
		width: 90%;
	}
}
@keyframes loadjs {
	0% {
		width: 0;
	}
	100% {
		width: 50%;
	}
}
@keyframes loadbs {
	0% {
		width: 0;
	}
	100% {
		width: 95%;
	}
}
@keyframes loadreact {
	0% {
		width: 0;
	}
	100% {
		width: 40%;
	}
}
@keyframes loadgit {
	0% {
		width: 0;
	}
	100% {
		width: 30%;
	}
}
@keyframes underline {
	0% {
		transform: translateX(-100%);
		width: 0%;
		background-color: #fff;
	}
	100% {
		background-color: #9F734E;
		transform: translateX(0);
		width: 100%;
	}
}
@keyframes float {
	0% {
		transform: translateY(0);
	}
	50% {
		transform: translateY(-7px);
	}
	100% {
		transform: translateY(0);
	}
}
/* resposnsive */
/* 
 */
/* Hide sidebar initially */
/* Show sidebar when hamburger icon is clicked */
/* Style sidebar navigation menu */
/* 
 */
/* Hide sidebar initially */
/* Show sidebar when hamburger icon is clicked */
/* Style sidebar navigation menu */
* {
	padding: 0px;
	margin: 0px;
	box-sizing: border-box;
	font-family: $font-family_1;
}
img {
	max-width: 100%;
}
body {
	background-color: $background-color_1;
	color: $color_1;
	font-family: $font-family_1;
}
header {
	background-image: url(../images/Rectangle164.png);
	background-repeat: no-repeat;
	background-size: cover;
}
nav.main-nav {
	ul {
		li {
			list-style: none;
			a {
				text-decoration: none;
				color: $color_2;
				transition: 0.7s all;
				font-size: 20px;
				&:hover {
					color: $color_1;
					text-decoration: underline;
				}
			}
		}
	}
}
.head-main-image {
	background: url(../images/bgCircle.png);
	background-repeat: no-repeat;
	text-align: -webkit-center;
	background-size: contain;
	width: 350px;
    margin-left: 40px;
	img {
		position: relative;
		width: 100%;
	}
}
.inner-header-content {
	h1 {
		font-size: 50px;
		line-height: 1.3;
		span {
			b {
				color: $color_4;
			}
		}
	}
	p {
		font-size: 17px;
		padding-bottom: 2rem;
		line-height: 1.3;
		font-weight: 200;
	}
}
.year-sticker {
	border-radius: 6px;
	background: linear-gradient(90deg, #E2C6AF 4.24%, #B27E52 104.8%);
	box-shadow: 0px 4px 5px 2px rgba(0, 0, 0, 0.25);
	width: fit-content;
	padding: 9px 15px;
	color: $color_3;
	font-weight: 800;
	position: absolute;
	font-size: 18px;
	top: 35%;
	animation: float 3s infinite linear;
	right: 6%;
}
.post-sticker {
	border-radius: 6px;
	background: linear-gradient(90deg, #E2C6AF 4.24%, #B27E52 104.8%);
	box-shadow: 0px 4px 5px 2px rgba(0, 0, 0, 0.25);
	width: fit-content;
	padding: 9px 15px;
	color: $color_3;
	font-weight: 800;
	position: absolute;
	font-size: 18px;
	bottom: 15%;
	animation: float 3s infinite linear;
	left: 14%;
}
.hmbrgr {
	display: none;
}
a.DownloadCV-btn {
	text-decoration: none;
	color: $color_1;
	font-weight: 500;
	padding: 14px 20px;
	border-radius: 5px;
	background: #9C8775;
	margin-top: 1rem;
	transition: 0.4s all;
	box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
	&:hover {
		box-shadow: none;
		padding-left: 1.8rem;
	}
}
.DownloadCV-btn {
	i {
		display: none;
		padding-right: 10px;
	}
	&:hover {
		i {
			display: block;
			display: inline-flex;
		}
	}
}
.head-content-about {
	p {
		&:first-child {
			font-size: 20px;
			margin-bottom: 0;
		}
	}
}
.shown-skill-icon {
	i {
		font-size: 5rem;
		padding: 14px 0px;
		color: $color_5;
		transition: 0.3s all;
		&:hover {
			color: $color_1;
			transform: scale(1.2);
			cursor: pointer;
		}
	}
}
.about-model-img {
	background: url(../images/Rectangle214.png);
	background-repeat: no-repeat;
	background-size: contain;
	text-align: center;
	background-position: center;
	img {
		width: 100%;
		max-width: 350px;
		margin: 0 auto;
	}
}
h1.sec-head {
	position: relative;
	display: inline-block;
	font-weight: 700;
	font-size: 45px;
	&::before {
		content: "";
		position: absolute;
		top: 100%;
		left: 0;
		width: 100%;
		height: 3px;
		background-color: $background-color_2;
		transform: translateX(0%);
		animation: underline 3s infinite alternate;
	}
}
.about-content {
	h5 {
		font-size: 28px;
		padding-top: 2rem;
		color: $color_6;
		text-decoration: underline;
	}
	p {
		font-size: 17px;
		line-height: 1.3;
		font-weight: 300;
	}
}
a.see-work-btn {
	border: solid 1px #b68359;
	color: $color_7;
	text-decoration: none;
	padding: 13px 20px;
	transition: all 0.3s;
	border-radius: 6px;
	&:hover {
		background: #b68359;
		color: $color_1;
	}
}
button.owl-next {
	span {
		&:hover {
			filter: opacity(0.5);
		}
		background: url(../images/rightArrow.png);
		width: 60px;
		height: 60px;
		background-size: contain;
		position: absolute;
		background-repeat: no-repeat;
		right: -100px;
		top: 50%;
		transition: all 0.3s;
		transform: translateY(-50%);
	}
}
button.owl-prev {
	span {
		&:hover {
			filter: opacity(0.5);
		}
		background: url(../images/leftArrow.png);
		width: 60px;
		height: 60px;
		background-size: contain;
		position: absolute;
		background-repeat: no-repeat;
		left: -100px;
		transition: all 0.3s;
		top: 50%;
		transform: translateY(-50%);
	}
}
.skill-box-inner-single {
	background-color: $background-color_3;
	padding: 20px 20px;
	border-radius: 10px;
	height: 380px;
	width: 85%;
	transition: all 0.5s;
	h4 {
		color: $color_4;
	}
	p {
		color: $color_8;
		text-align: justify;
	}
	&:hover {
		h4 {
			color: $color_8;
		}
		p {
			color: $color_1;
		}
		background: #9f734e;
		transform: scale(0.98);
	}
}
.owl-item {
	display: flex;
	justify-content: center;
}
.html-progress {
	background: #515151;
	box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.32) inset;
	justify-content: flex-start;
	border-radius: 100px;
	align-items: center;
	position: relative;
	padding: 0 5px;
	display: flex;
	margin-bottom: 4rem;
	height: 30px;
	width: 500px;
}
.css-progress {
	background: #515151;
	box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.32) inset;
	justify-content: flex-start;
	border-radius: 100px;
	align-items: center;
	position: relative;
	padding: 0 5px;
	display: flex;
	margin-bottom: 4rem;
	height: 30px;
	width: 500px;
}
.react-progress {
	background: #515151;
	box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.32) inset;
	justify-content: flex-start;
	border-radius: 100px;
	align-items: center;
	position: relative;
	padding: 0 5px;
	display: flex;
	margin-bottom: 4rem;
	height: 30px;
	width: 500px;
}
.bs-progress {
	background: #515151;
	box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.32) inset;
	justify-content: flex-start;
	border-radius: 100px;
	align-items: center;
	position: relative;
	padding: 0 5px;
	display: flex;
	margin-bottom: 4rem;
	height: 30px;
	width: 500px;
}
.js-progress {
	background: #515151;
	box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.32) inset;
	justify-content: flex-start;
	border-radius: 100px;
	align-items: center;
	position: relative;
	padding: 0 5px;
	display: flex;
	margin-bottom: 4rem;
	height: 30px;
	width: 500px;
}
.git-progress {
	background: #515151;
	box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.32) inset;
	justify-content: flex-start;
	border-radius: 100px;
	align-items: center;
	position: relative;
	padding: 0 5px;
	display: flex;
	margin-bottom: 4rem;
	height: 30px;
	width: 500px;
}
.html-progress-value {
	animation: loadhtml 3s normal forwards;
	background: #9F734E;
	box-shadow: 2px 0px 8px -1px rgba(0, 0, 0, 0.25), 0px 0px 12px 3px rgba(0, 0, 0, 0.32) inset;
	border-radius: 100px;
	height: 20px;
	width: 0;
}
.css-progress-value {
	animation: loadcss 3s normal forwards;
	background: #9F734E;
	box-shadow: 2px 0px 8px -1px rgba(0, 0, 0, 0.25), 0px 0px 12px 3px rgba(0, 0, 0, 0.32) inset;
	border-radius: 100px;
	height: 20px;
	width: 0;
}
.bs-progress-value {
	animation: loadbs 3s normal forwards;
	background: #9F734E;
	box-shadow: 2px 0px 8px -1px rgba(0, 0, 0, 0.25), 0px 0px 12px 3px rgba(0, 0, 0, 0.32) inset;
	border-radius: 100px;
	height: 20px;
	width: 0;
}
.react-progress-value {
	animation: loadreact 3s normal forwards;
	background: #9F734E;
	box-shadow: 2px 0px 8px -1px rgba(0, 0, 0, 0.25), 0px 0px 12px 3px rgba(0, 0, 0, 0.32) inset;
	border-radius: 100px;
	height: 20px;
	width: 0;
}
.git-progress-value {
	animation: loadgit 3s normal forwards;
	background: #9F734E;
	box-shadow: 2px 0px 8px -1px rgba(0, 0, 0, 0.25), 0px 0px 12px 3px rgba(0, 0, 0, 0.32) inset;
	border-radius: 100px;
	height: 20px;
	width: 0;
}
.js-progress-value {
	animation: loadjs 3s normal forwards;
	background: #9F734E;
	box-shadow: 2px 0px 8px -1px rgba(0, 0, 0, 0.25), 0px 0px 12px 3px rgba(0, 0, 0, 0.32) inset;
	border-radius: 100px;
	height: 20px;
	width: 0;
}
.exp-icn {
	background: #9F734E;
	border: solid 5px rgba(159, 115, 78, 0.83);
	box-shadow: 0px 0px 9px 5px rgba(0, 0, 0, 0.34) inset;
	padding: 15px 10px;
	border-radius: 50px;
	position: relative;
	z-index: 1;
}
span.designation {
	font-size: 25px;
	color: $color_1;
}
span.compnyExp {
	color: $color_9;
}
p.exp-time {
	color: $color_9;
}
.tabBar-line {
	position: relative;
	&::before {
		content: "";
		position: absolute;
		background: #9f734e;
		height: 80px;
		width: 4px;
		left: 50%;
		transform: translateX(-50%);
		bottom: -89px;
	}
}
.let_work_form {
	input {
		font-size: 20px;
		padding: 16px;
		margin-bottom: 1.7rem;
		border: solid 2px #fff;
		color: $color_1;
		background: none;
		outline: 0;
		border-radius: 7px;
		&:focus {
			background-color: $background-color_3;
			color: $color_8;
		}
	}
	textarea {
		font-size: 20px;
		padding: 16px;
		margin-bottom: 1.7rem;
		border: solid 2px #fff;
		color: $color_1;
		background: none;
		outline: 0;
		border-radius: 7px;
		&:focus {
			background-color: $background-color_3;
			color: $color_8;
		}
	}
	width: 80%;
	padding-left: 2rem;
}
.work_with_img {
	background-image: url(../images/emp.png);
	height: 100%;
	background-size: contain;
	background-repeat: no-repeat;
}
input {
	&::-webkit-outer-spin-button {
		-webkit-appearance: none;
		margin: 0;
	}
	&::-webkit-inner-spin-button {
		-webkit-appearance: none;
		margin: 0;
	}
}
input[type=number] {
	-moz-appearance: textfield;
}
a.footer-social {
	font-size: 32px;
	color: $color_1;
	border: solid 2px #9F734E;
	padding: 15px 18px;
	border-radius: 50px;
	width: 65px;
	background: #000;
	display: flex;
	text-decoration: none;
	align-items: center;
	transition: all 0.3s;
	margin: 0px 10px;
	justify-content: center;
	&:hover {
		background: #9f734e;
	}
}
footer#myFooter {
	border-top: solid 2px #9f734e;
}
.social-footer {
	position: absolute;
	top: -37px;
	left: 50%;
	transform: translateX(-50%);
	width: fit-content !important;
}
.frm-sbmit-btn {
	background: #9f734e;
	color: $color_10;
	position: relative;
	padding: 10px 20px;
	margin-right: 1rem;
	font-size: 18px;
	border: none;
	width: 50px;
	border-radius: 50px;
	transition: all 0.3s;
	&:hover {
		width: 20%;
	}
}
.footer-add {
	border: solid 2px #9f734e;
	border-radius: 60px;
	display: flex;
	align-items: center;
	height: 57px;
	padding-right: 20px;
	width: fit-content;
}
.footer-ad-icn {
	i {
		font-size: 22px;
		background: #9f734e;
		height: 55px;
		width: 55px;
		display: flex;
		margin-right: 14px;
		justify-content: center;
		border-radius: 50%;
		align-items: center;
	}
}
.footer-add-cont {
	p {
		font-size: 25px;
	}
}
.footer-nav {
	width: 90%;
	margin: auto;
	background: #9f734e;
	height: 67px;
	border-radius: 50px;
	display: flex;
	align-items: center;
	ul {
		li.active {
			list-style: none;
			padding: 14px 33px;
			border-radius: 60px;
			background: #565656;
			box-shadow: 0px 0px 8px 4px rgba(0, 0, 0, 0.25) inset;
		}
		li {
			a {
				font-size: 20px;
				font-weight: 700;
				color: $color_1;
				text-decoration: none;
			}
			list-style: none;
			padding: 14px 33px;
			transition: all 0.3s;
			&:hover {
				list-style: none;
				padding: 14px 33px;
				border-radius: 60px;
				background: #565656;
				box-shadow: 0px 0px 8px 4px rgba(0, 0, 0, 0.25) inset;
			}
		}
	}
}
.loading-box {
	position: fixed;
	width: 100vw;
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 100%;
	align-items: center;
	gap: 40px;
	background-color: $background-color_4;
	z-index: 9999999999;
	color: $color_11;
	border-radius: 12px;
}
.loading-title {
	font-size: 1.5em;
	transform: translateY(-12px);
	text-transform: uppercase;
	letter-spacing: 4px;
	font-weight: 300;
}
.loading-circle {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 180px;
	height: 180px;
	background: conic-gradient( from 0deg at 50% 50%, rgb(136, 94, 17) 0%, rgb(235, 222, 52) #101012 0% );
	border-radius: 100px;
	box-shadow: 4px 4px 16px rgba(0, 0, 0, 0.75), -4px -4px 16px rgba(255, 255, 255, 0.1);
	animation: spin 1s infinite linear;
}
.loading-count {
	content: " ";
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
	top: 3px;
	left: 3px;
	width: 174px;
	height: 174px;
	border-radius: 100px;
	background: #1d1e22;
	box-shadow: 4px 4px 16px rgba(0, 0, 0, 0.75) inset, -4px -4px 16px rgba(255, 255, 255, 0.1) inset;
	animation: spin 1s infinite linear reverse;
	#loadingNumber {
		font-size: 4em;
	}
}
.portfolio-wrap {
	box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.15);
	position: relative;
	border-radius: 3px;
	cursor: pointer;
	overflow: hidden;
	height: 220px;
	&:hover {
		.portfolio-info {
			background-color: $background-color_5;
			&::after {
				-webkit-transform: scale(1);
				transform: scale(1);
			}
			&::before {
				-webkit-transform: scale(1);
				transform: scale(1);
			}
			h5 {
				opacity: 1;
				-webkit-transform: translate(0px, 0px);
				transform: translate(0px, 0px);
			}
			span {
				opacity: 1;
				-webkit-transform: translate(0px, 0px);
				transform: translate(0px, 0px);
			}
		}
	}
}
.portfolio-img {
	height: 100%;
	img {
		height: 100%;
		width: 100%;
		object-fit: cover;
	}
}
.portfolio-info {
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
	color: $color_10;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	height: 100%;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	left: 0;
	position: absolute;
	text-align: center;
	top: 0;
	-webkit-transition: all 0.5s ease 0s;
	transition: all 0.5s ease 0s;
	width: 100%;
	z-index: 9;
	padding: 30px;
	&::before {
		border-left: 2px solid #fff;
		border-right: 2px solid #fff;
		content: "";
		height: calc(100% - 40px);
		left: 20px;
		position: absolute;
		top: 20px;
		-webkit-transform: scaleY(0);
		transform: scaleY(0);
		-webkit-transition: all 0.5s ease 0s;
		transition: all 0.5s ease 0s;
		width: calc(100% - 40px);
		z-index: -1;
		border-left: inherit;
		border-right: inherit;
		border-top: 2px solid #fff;
		border-bottom: 2px solid #fff;
		-webkit-transform: scaleX(0);
		transform: scaleX(0);
	}
	&::after {
		border-left: 2px solid #fff;
		border-right: 2px solid #fff;
		content: "";
		height: calc(100% - 40px);
		left: 20px;
		position: absolute;
		top: 20px;
		-webkit-transform: scaleY(0);
		transform: scaleY(0);
		-webkit-transition: all 0.5s ease 0s;
		transition: all 0.5s ease 0s;
		width: calc(100% - 40px);
		z-index: -1;
	}
	h5 {
		-webkit-transform: translateY(-30px);
		transform: translateY(-30px);
		-webkit-transition: all 0.5s ease 0s;
		transition: all 0.5s ease 0s;
		color: $color_1;
		opacity: 0;
	}
	span {
		opacity: 0;
		-webkit-transform: translateY(30px);
		transform: translateY(30px);
		-webkit-transition: all 0.5s ease 0s;
		transition: all 0.5s ease 0s;
		color: $color_1;
		text-transform: capitalize;
	}
}
@media screen and (max-width:767px) {
	.portfolio-info {
		h5 {
			font-size: 0.75rem;
		}
		span {
			font-size: 0.75rem;
		}
	}
	// .portfolio-wrap {
	// 	height: 130px;
	// }
	.head-main-image {
		width: 100%;
		background-size: cover;
		background-position: center;
        margin: 0;
		img {
			width: 100%;
		}
	}
	.about-model-img {
		width: 100% !important;
		background-size: cover;
		img {
			width: 100%;
		}
	}
	.html-progress {
		width: 100%;
	}
	.css-progress {
		width: 100%;
	}
	.react-progress {
		width: 100%;
	}
	.bs-progress {
		width: 100%;
	}
	.js-progress {
		width: 100%;
	}
	.git-progress {
		width: 100%;
	}
	button.owl-next {
		span {
			width: 50px;
			height: 50px;
			right: 50px;
			top: 95%;
			transform: unset;
		}
	}
	.hmbrgr {
		display: block;
	}
	button.owl-prev {
		span {
			width: 50px;
			height: 50px;
			left: 50px;
			top: 95%;
			transform: unset;
		}
	}
	.skill-box-inner-single {
		height: 420px;
		width: 100%;
	}
	.experience-tab-main {
		ul {
			padding-left: 2px;
		}
	}
	h1.sec-head {
		font-size: 29px;
	}
	.inner-header-content {
		h1 {
			font-size: 35px;
			line-height: 1.2;
		}
	}
	.let_work_form {
		width: 100%;
		padding-left: 0rem;
		text-align: center;
	}
	a.footer-social {
		font-size: 24px;
		padding: 11px 18px;
		width: 50px;
	}
	.exp-icn {
		z-index: 999 !important;
		position: relative;
	}
	.head-logo {
		display: block;
	}
	.hide-nv {
		.col-6 {
			display: none;
		}
	}
	.hamburger-icon {
		display: block;
		position: relative;
		cursor: pointer;
		width: 40px;
		height: 30px;
		background-color: $background-color_6;
		border: none;
		span {
			position: absolute;
			top: 50%;
			left: 50%;
			width: 25px;
			height: 3px;
			background-color: $background-color_7;
			transform: translate(-50%, -50%);
		}
		.bar1 {
			top: 10px;
		}
		.bar2 {
			top: 0;
		}
		.bar3 {
			top: 20px;
		}
	}
	#sidebarNav {
		display: none;
	}
	#sidebarNav.show {
		display: block;
	}
	.main-nav {
		ul {
			list-style: none;
			padding: 0;
			li {
				margin-bottom: 10px;
				text-align: center;
				a {
					color: $color_2;
					text-decoration: none;
					font-size: 20px;
					padding: 10px 0;
					transition: 0.7s all;
					&:hover {
						color: $color_1;
						text-decoration: underline;
					}
				}
			}
		}
	}
	.shown-skill-icon {
		text-align: center;
		padding-top: 20px;
		padding-bottom: 20px;
	}
	span.designation {
		font-size: 18px;
	}
	.tabBar-line {
		&::before {
			height: 85px;
			bottom: -98px;
		}
	}
	.sc-pr {
		overflow-x: hidden;
		width: 100%;
	}
	.year-sticker {
		font-size: 15px;
		top: 36%;
		right: 3%;
	}
	.post-sticker {
		font-size: 15px;
		left: 6%;
	}
	.about-content {
		text-align: center;
		p {
			font-size: 14px;
			text-align: justify;
		}
		h5 {
			font-size: 20px;
		}
	}
	.social-footer {
		top: -25px;
	}
	.footer-nav {
		width: 100%;
		height: auto;
		border-radius: 5px;
		text-align: center;
		ul {
			padding: 0px;
			li.active {
				border-radius: 0px;
			}
			li {
				&:hover {
					border-radius: 0px;
				}
			}
		}
	}
	.footer-add-cont {
		p {
			font-size: 16px;
		}
	}
	.footer-add {
		width: 100%;
	}
}
@media (min-width:768px) and (max-width:1023px) {
	.html-progress {
		width: 100%;
	}
	.css-progress {
		width: 100%;
	}
	.react-progress {
		width: 100%;
	}
	.bs-progress {
		width: 100%;
	}
	.js-progress {
		width: 100%;
	}
	.git-progress {
		width: 100%;
	}
	.skill-box-inner-single {
		p {
			font-size: 15px;
		}
		height: 370px;
		width: 90%;
	}
	section#skillsBars {
		h4 {
			font-size: 16px;
		}
	}
	.let_work_form {
		input {
			font-size: 16px;
			padding: 9px;
			margin-bottom: 1rem;
		}
		textarea {
			font-size: 16px;
			padding: 9px;
			margin-bottom: 1rem;
		}
		width: 100%;
		padding-left: 0rem;
		text-align: center;
	}
	.inner-header-content {
		p {
			font-size: 14px;
			padding-bottom: 2rem;
			line-height: 1.2;
			font-weight: 200;
		}
		h1 {
			font-size: 29px;
		}
	}
	button.owl-next {
		span {
			width: 50px;
			height: 50px;
			right: 50px;
			top: 95%;
			transform: unset;
		}
	}
	.hmbrgr {
		display: block;
		float: right;
	}
	button.owl-prev {
		span {
			width: 50px;
			height: 50px;
			left: 50px;
			top: 95%;
			transform: unset;
		}
	}
	.head-main-image {
		img {
			width: 100%;
		}
		background-size: contain;
		background-position: top;
	}
	.experience-tab-main {
		ul {
			padding-left: 2px;
		}
	}
	h1.sec-head {
		font-size: 29px;
	}
	.about-model-img {
		img {
			width: 80%;
		}
		background-size: cover;
	}
	a.footer-social {
		font-size: 24px;
		padding: 11px 18px;
		width: 50px;
	}
	.exp-icn {
		z-index: 999 !important;
		position: relative;
	}
	.head-logo {
		display: block;
	}
	.hide-nv {
		.col-6 {
			display: none;
		}
	}
	.hamburger-icon {
		display: block;
		position: relative;
		cursor: pointer;
		width: 40px;
		height: 30px;
		background-color: $background-color_6;
		border: none;
		span {
			position: absolute;
			top: 50%;
			left: 50%;
			width: 25px;
			height: 3px;
			background-color: $background-color_7;
			transform: translate(-50%, -50%);
		}
		.bar1 {
			top: 10px;
		}
		.bar2 {
			top: 0;
		}
		.bar3 {
			top: 20px;
		}
	}
	#sidebarNav {
		display: none;
	}
	#sidebarNav.show {
		display: block;
	}
	.main-nav {
		ul {
			list-style: none;
			padding: 0;
			li {
				margin-bottom: 10px;
				text-align: center;
				a {
					color: $color_2;
					text-decoration: none;
					font-size: 20px;
					padding: 10px 0;
					transition: 0.7s all;
					&:hover {
						color: $color_1;
						text-decoration: underline;
					}
				}
			}
		}
	}
	.shown-skill-icon {
		text-align: center;
		padding-top: 20px;
		padding-bottom: 20px;
	}
	span.designation {
		font-size: 18px;
	}
	.tabBar-line {
		&::before {
			height: 85px;
			bottom: -98px;
		}
	}
	.sc-pr {
		overflow-x: hidden;
		width: 100%;
	}
	.year-sticker {
		font-size: 15px;
		top: 36%;
		right: 3%;
	}
	.post-sticker {
		font-size: 15px;
		left: 6%;
	}
	.about-content {
		text-align: left;
		p {
			font-size: 14px;
			text-align: justify;
		}
		h5 {
			font-size: 20px;
		}
	}
	.social-footer {
		top: -25px;
	}
	.footer-nav {
		width: 100%;
		height: auto;
		border-radius: 75px;
		text-align: center;
		ul {
			padding: 0px;
			li.active {
				border-radius: 50px;
			}
			li {
				a {
					font-size: 16px;
				}
				&:hover {
					border-radius: 50px;
				}
			}
		}
	}
	.footer-add-cont {
		p {
			font-size: 16px;
		}
	}
	.footer-add {
		width: 100%;
	}
}
@media (min-width:1024px) and (max-width:1440px) {
	.html-progress {
		height: 27px;
		width: 380px;
	}
	.css-progress {
		height: 27px;
		width: 380px;
	}
	.react-progress {
		height: 27px;
		width: 380px;
	}
	.bs-progress {
		height: 27px;
		width: 380px;
	}
	.js-progress {
		height: 27px;
		width: 380px;
	}
	.git-progress {
		height: 27px;
		width: 380px;
	}
	section#skillsBars {
		h4 {
			font-size: 18px;
		}
	}
	span.designation {
		font-size: 21px;
	}
	.exp-icn {
		z-index: 999 !important;
		position: relative;
	}
	h1.sec-head {
		font-size: 36px;
	}
	.let_work_form {
		width: 90%;
		input {
			font-size: 18px;
			padding: 8px;
			margin-bottom: 1.4rem;
		}
		textarea {
			font-size: 18px;
			padding: 8px;
			margin-bottom: 1.4rem;
		}
	}
	.workWM {
		textarea {
			height: 104px;
		}
	}
	.footer-add-cont {
		p {
			font-size: 17px;
		}
	}
	.skill-box-inner-single {
		height: 388px;
		width: 26vw;
		p {
			font-size: 15px;
			line-height: 1.4;
		}
	}
	button.owl-prev {
		span {
			width: 40px;
			height: 40px;
			left: -35px;
		}
	}
	button.owl-next {
		span {
			width: 40px;
			height: 40px;
			right: -35px;
		}
	}
	.about-model-img {
		img {
			width: 75%;
		}
	}
	.inner-header-content {
		h1 {
			font-size: 35px;
			line-height: 1.2;
		}
	}
}
